---
import PageLayout from "../layouts/PageLayout.astro";
import Config from "../sarissa.config.cjs";
---

<PageLayout pageTitle={Config.menu?.about ?? "About"}>
  <article class="prose max-w-none">
    <p>Writing code should be 100% of the job. Quickly you began to realize that code is only a part of what we do as software engineers.</p>
    <p>Do you have the skills to deal with people and office politics? Or are you, like many other engineers, struggling with your own impostor syndrome?</p>
    <h2><b>About Me...</b></h2>
    <h3>A Passionate Software Developer.</h3>
    <p>My name is Tharisha Perera a motivated software engineer with working experience and in-depth knowledge of languages and 
      development tools. And I am a final year university student who has a passion on develeoping stuff and sharing knowledge with others.</p>

    <h2><b>About this blog...</b></h2>
    <p>This blog, is a place to explore career growth and personal development . I would like to share with you what I have learned so far. I want to know what you struggle with and what you have accomplished. Most importantly, I want you to own your career!</p>
    <p>Happy readings!</p>
  </article>
</PageLayout>
